databases==0.6.2
msgpack==1.0.4
pydantic==1.10.2
pytest==7.2.0
pytest-asyncio==0.20.3
redis==4.4.0
xxhash==3.1.0
typing_extensions==4.4.0
types-redis==4.3.21.7
motor==3.1.1
aiomysql==0.1.1
asyncpg==0.27.0
mypy==0.991
cacheme_utils==0.1.0
