---
name: Benchmarks

on:
  push:
    branches:
      - master

jobs:
  benchmark-1:
    uses: ./.github/workflows/benchmark_template.yml
    with:
      case: "test_read_only"
    secrets: inherit

  benchmark-2:
    needs: benchmark-1
    uses: ./.github/workflows/benchmark_template.yml
    with:
      case: "test_write_only"
    secrets: inherit

  benchmark-3:
    needs: benchmark-2
    uses: ./.github/workflows/benchmark_template.yml
    with:
      case: "test_zipf"
    secrets: inherit

  benchmark-4:
    needs: benchmark-3
    uses: ./.github/workflows/benchmark_template.yml
    with:
      case: "test_read_only_batch"
    secrets: inherit
